body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
}

.response {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
